html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: #AEC6CF;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative /* this while be for the containing block for `#user_guide` */
}

p {
    font-size: clamp(11px, calc(3.5vw + 1vh), 142%);
}

button {
    border: none;
    padding: 1.26% 3.2%;
    font-size: clamp(8.9px, calc(2.75vw + 1vh), 102%);
    cursor: pointer;
    border-radius: 6px;
}

.container {
    /* structure */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;

    /* color */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

    /* shape */
    width: clamp(23px, 53vw, 90vw);
    height: clamp(3px, 56.5vh, 90vh);
    margin: 1.5%;
    padding: 0.74%;
    border-radius: 25px;
}

#epilepsy_warning {
    /* color */
    background-color: #ffcccc;
    --main-color: #ff0000;
    border: 0px solid var(--main-color);
}

#epilepsy_warning * {
    margin: 2.35%;
}

#epilepsy_warning h1 {
    color: var(--main-color);
    font-size: clamp(15px, calc(4.035vw + 1.15vh), 228%);
    margin-bottom: 1%;
}

#epilepsy_warning button {
    background-color: var(--main-color);
    color: white;
    transition: background-color 0.3s ease;
}

#epilepsy_warning button:hover {
    background-color: #cc0000;
}

#user_guide {
    position: absolute;
    background-color: lightskyblue;
}

#user_guide * {
    margin: 1.35%;
}

#user_guide button {
    background-color: darkcyan;
    color: white;
    transition: background-color 0.64s ease;
}

#user_guide button:hover {
    background-color: blue;
}

.fade_in_animation {
    animation: fade_in_keyframes ease-in 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in_keyframes {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade_in_almost_animation {
    animation: fade_in_almost_keyframes ease-in 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in_almost_keyframes {
    0% {
        opacity: 0.00;
    }
    100% {
        opacity: 0.90;
    }
}
