html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: #AEC6CF;
    font-family: Arial, Helvetica, sans-serif;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative /* this while be for the containing block for `#user_guide` */
}

button {
    border: none;
    padding: 1.26% 3.2%;
    font-size: 102%;
    cursor: pointer;
    border-radius: 6px;
}

.container {
    /* structure */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* color */
    background-color: #ffcccc;
    border: 0px solid #ff0000;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

    /* shape */
    margin: 4.5%;
    padding: 0.74%;
    width: 53%;
    border-radius: 25px;
}

#epilepsy_warning * {
    margin: 2.35%;
}

#epilepsy_warning h1 {
    color: #ff0000;
    font-size: 228%;
    margin-bottom: 1%;
}

#epilepsy_warning p {
    font-size: 142%;
}

#epilepsy_warning button {
    background-color: #ff0000;
    color: white;
    transition: background-color 0.3s ease;
}

#epilepsy_warning button:hover {
    background-color: #cc0000;
}

#user_guide {
    position: absolute;
    background-color: lightskyblue;
}

#user_guide * {
    margin: 1.35%;
}

#user_guide p {
    font-size: 142%;
}

#user_guide button {
    background-color: darkcyan;
    color: white;
    transition: background-color 0.64s ease;
}

#user_guide button:hover {
    background-color: blue;
}

.fade_in_animation {
    animation: fade_in_keyframes ease-in 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade_in_keyframes {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
